REACT_APP_API_KEY=your-api-key
REACT_APP_AUTH_DOMAIN=authdomain.firebaseapp.com
REACT_APP_DATABASE_URL=https://dburl.firebaseio.com
REACT_APP_PROJECT_ID=project-id
REACT_APP_STORAGE_BUCKET=storage-bucket
REACT_APP_MESSAGING_SENDER_ID=1234567890
REACT_APP_APP_ID=1:1:1:1:something
REACT_APP_MEASUREMENT_ID=measurement-id